name: Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Pnpm setup
        uses: pnpm/action-setup@v2
        with:
          version: 8.15.7
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: pnpm
      - run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .vitepress/dist
          # cname: example.com # if wanna deploy to custom domain
